<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "Products By category" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="productsAll">
        <section >
            <div class="index__box-sectiones">
                <% category.products.forEach(product => { %>  
                <article class="index__box-article">
                    <a href="/products/detail/<%= product.id %>">
                        <img class="index__image" style="object-fit: cover; height:60%" src="/images/products/<%= product.images[0].name %>" alt="imagen">  
                    <div class="index__box-descripcion">
                        <div class="index__precio-descuento">
                        <p class="index__precio">$<%= toThousand(product.price) %> </p>
                        <p class="index__descuento"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion"><%= product.title %></h5> 
                    </div>
                </a>
                </article>                    
                <% }) %>    
            </div>
        </section>
    </main>
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>