<!DOCTYPE html>
<html lang="es">



<%- include("./partials/head", { title : "home" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="index-box">
        
            <div class="main__box-carrousel">
                <img class="main__carrousel" src="/images/banner.jpg" alt="">
            </div>
        
        <h4>Productos destacados</h4>

        <section >
            <div class="index__box-section">
                <% dest.forEach(product => { %>
                <article class="index__box-article">
                    <a href="/products/detail/<%= product.id %>">
                        <% product.images.forEach(image => { %>
                              <img class="index__image" height="65%" src="/images/products/<%= image.name %>" alt="">
                        <% }) %>                        
                    <div class="index__box-descripcion">
                        <div class="index__precio-descuento">
                        <p class="index__precio">$<%= toThousand(product.price) %> </p>
                        <p class="index__descuento"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion"><%= product.title %></h5> 
                    </div>
                    </a>
                </article>               
                <% }) %>    
            </div>
        </section>
        
            <h4>Categorias</h4>

        <section class="index__iconos">
            <div class="index__iconos-group1">
                <a href="/categories/detail/1"><i class="fa-solid fa-futbol icono"></i></a>
                <a href="/categories/detail/2"><i class="fa-solid fa-futbol icono"></i></a>            
                <a href="/categories/detail/3"><i class="fa-solid fa-basketball icono"></i></a>
            </div>
            <div class="index__iconos-group2">
                <a href="/categories/detail/4"><i class="fa-solid fa-futbol icono"></i></a>
                <a href="/categories/detail/5"><i class="fa-solid fa-basketball icono"></i></a>            
                <a href="/categories/detail/6"><i class="fas fa-swimmer icono"></i></a>
            </div>
        </section>

        <h4>En oferta<i class="fa-solid fa-fire-flame-curved"></i></h4>

        <section >
            <div class="index__box-section">
                <% oferta.forEach(product => { %>
                <article class="index__box-article">
                    <a href="/products/detail/<%= product.id %>">
                        <% product.images.forEach(image => { %>
                              <img class="index__image" height="65%" src="/images/products/<%= image.name %>" alt="">
                        <% }) %>                        
                    <div class="index__box-descripcion">
                        <div class="index__precio-descuento">
                        <p class="index__precio">$<%= toThousand(product.price) %> </p>
                        <p class="index__descuento"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion"><%= product.title %></h5> 
                    </div>
                    </a>
                </article>               
                <% }) %>    
            </div>
        </section>


        <h4>Ultimos agregados <i class="fa-solid fa-fire-flame-curved"></i></h4>
        
        <section >
            <div class="index__box-section">
                <% ultimos.forEach(product => { %>
                <article class="index__box-article">
                    <a href="/products/detail/<%= product.id %>">
                        <% product.images.forEach(image => { %>
                              <img class="index__image" height="65%" src="/images/products/<%= image.name %>" alt="">
                        <% }) %>                        
                    <div class="index__box-descripcion">
                        <div class="index__precio-descuento">
                        <p class="index__precio">$<%= toThousand(product.price) %> </p>
                        <p class="index__descuento"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion"><%= product.title %></h5> 
                    </div>
                    </a>
                </article>               
                <% }) %>    
            </div>
        </section>

        

        <% if (locals.userLogin) { %>
         <h4>Tus favoritos <i class="fa-solid fa-heart"></i></h4>
        <section class="main__section-favoritos">
            <div>
                <a href="/products/detail">
                    <article class="index__box-article-favoritos">
                   
                        <div class="index__box-image-favorito">
                            <img class="index__image-favorito" src="/images/Imagenes/rugby6.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion-favorito">
                            <div class="index__precio-descuento-favorito">
                                <p class="index__precio-favorito">$10000</p>
                                <p class="index__descuento">10% OFF</p>
                            </div>
                            <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion">Copa Mundial </h5>
                        </div>
                    </article>
                </a>
                <a href="/products/detail">
                    <article class="index__box-article-favoritos">
                   
                        <div class="index__box-image-favorito">
                            <img class="index__image-favorito" src="/images/Imagenes/rugby6.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion-favorito">
                            <div class="index__precio-descuento-favorito">
                                <p class="index__precio-favorito">$10000</p>
                                <p class="index__descuento">10% OFF</p>
                            </div>
                            <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion">Copa Mundial </h5>
                        </div>
                    </article>
                </a>
            </div>
            <div>
                <a href="/products/detail">
                    <article class="index__box-article-favoritos">
                   
                        <div class="index__box-image-favorito">
                            <img class="index__image-favorito" src="/images/Imagenes/rugby6.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion-favorito">
                            <div class="index__precio-descuento-favorito">
                                <p class="index__precio-favorito">$10000</p>
                                <p class="index__descuento">10% OFF</p>
                            </div>
                            <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion">Copa Mundial </h5>
                        </div>
                    </article>
                </a>
                <a href="/products/detail">
                    <article class="index__box-article-favoritos">
                   
                        <div class="index__box-image-favorito">
                            <img class="index__image-favorito" src="/images/Imagenes/rugby6.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion-favorito">
                            <div class="index__precio-descuento-favorito">
                                <p class="index__precio-favorito">$10000</p>
                                <p class="index__descuento">10% OFF</p>
                            </div>
                            <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion">Copa Mundial </h5>
                        </div>
                    </article>
                </a>
            </div>  
        </section>
        <% } %>
        

        <section class="newsteller">
            <form action="" method="POST">
                <h3 class="home__envolope"><i class="fas fa-envelope-open-text"></i> Recibi ofertas y novedades</h3>   
                <div class="home__input-boton"> 
                    <input class="home__input" type="email" name="email" placeholder="Email...">
                    <button type="submit" class="home__boton">Enviar</button>      
                </div>
            </form>       
        </section>     
    </main>

    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %> 

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>
