<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "Login" }) %>

<body>

    <%- include("./partials/header") %> 


        <!----    ------------------------------main--------------------------------- -->
        <main class="login">
            <section class="container-login">
                <h2 class="title">Iniciar sesion</h2>
        
                <button class="btn-log-facebook btn">Inicia sesion con Facebook</button>
                <button href="#" class="btn-log-google btn">Inicia sesion con Google</button>
                <div class="lineal">
                    <hr class="line-one line">
                    <p class="separator">0</p>
                    <hr class="line-two line">
                </div>
                <form class="container-form" action="" method="post">
                    <div class="input-container">
                        <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                        <small style="color:red;"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                        <input class="input-log" type="password" name="password" placeholder="Ingrese su contraseña">
                        <small style="color:red;"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
                    </div>
                    <div class="check-remember">
                        <label for="recordar">Recordar <input type="checkbox" name="remember" id="checkbox"></label>
                    </div>
                    <button type="submit" class="btn btn-log">Ingresar</button>
                    <p class="link_pass-recover"><a href="#">¿Olvidaste tu contraseña?</a></p>
                    <p>¿Aun no tienes cuenta en BrainHub?</p>
                    <a class="btn-register btn" href="/users/register">Registrate</a>
                </form>
            </section>
        </main>
        
       <!--  <main>
            <div class="tittle">
                <h3>LOGIN</h3>
            </div>
    
            <form action="" method="POST">
                <div class="container1">
    
                    <p class="barra">
                        <label for="email">EMAIL:</label>  
                        <input type="email" name="email" id="email" >
                        <small style="color:red;"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                    </p>
               
        
                    <p class="barra2">
                        <label for="password">CONTRASEÑA:</label>
                        <input type="password" name="password" id="password">
                        <small style="color:red;"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
                    </p>

                    <div class="col-12 col-md-6">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox" name="remember" style="width: 30px; height:30px">
                            <label class="form-check-label form-label ms-2" for="checkbox">Recordarme</label>
                          </div>
                    </div>
    
                </div>
            
                <div class="button">            
                    <button type="submit" >INICIAR SESION</button>
                    
                    <button><a href="/users/register">REGISTRATE</a></button>       
                </div>
           
            </form>
    
    <a class="enlace" href="Necesito ayuda para ingresar">Necesito ayuda para ingresar</a>
        </main> -->



    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>