<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "Login" }) %>

<body>

    <%- include("./partials/header") %> 


        <!----    ------------------------------main--------------------------------- -->
        <main class="login">
            <section class="container-login">
                <h2 class="title">Iniciar sesion</h2>
        
                <button class="btn-log-facebook btn">Inicia sesion con Facebook</button>
                <button href="#" class="btn-log-google btn">Inicia sesion con Google</button>
                <div class="lineal">
                    <hr class="line-one line">
                    <p class="separator">0</p>
                    <hr class="line-two line">
                </div>
                <form class="container-form" action="" method="post">
                    <div class="input-container">
                        <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                        <small style="color:red;"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                        <input class="input-log" type="password" name="password" placeholder="Ingrese su contrase単a">
                        <small style="color:red;"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
                    </div>
                    <div class="check-remember">
                        <label for="recordar">Recordar <input type="checkbox" name="remember" id="checkbox"></label>
                    </div>
                    <button type="submit" class="btn btn-log">Ingresar</button>
                    <p class="link_pass-recover"><a href="#">多Olvidaste tu contrase単a?</a></p>
                    <p>多Aun no tienes cuenta en BrainHub?</p>
                    <a class="btn-register btn" href="/users/register">Registrate</a>
                </form>
            </section>
        </main>


    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>