<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "Detalle de producto" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="product_detail_main">
        <section>
            <article class="product_container">
                <div class="product_item">
                    <section class="image_container">
                        <div class="main_image">
                                <img id="imgPrimary" class="index__image" style="object-fit:cover; width: 100%; " src="/images/products/<%= product.images[0]?.name %>" alt="">
                        </div>
                        <div class="secondary_image_container">
<% product.images.forEach(image => { %>
    <div class="secondary_image">
        <img onclick="document.getElementById('imgPrimary').src = this.src" style="height: 150px; object-fit:cover" src="/images/products/<%= image.name %>" alt="">
    </div>
<% }) %>
                           
                           
                        </div>
                    </section>
                    <section class="product_description_select">
                        <h3 class="prodcut_title"><%= product.title %></h3>
                        <% if (product.discount !== 0) { %>
                            <p class="in_installments"><%= toThousand(product.price) %> '<span>  <%=  product.discount + ' ' + '%OFF' %></span></p>

                            <p><h4 class="main_product_price">$<%= toThousand(product.price - (product.price * product.discount) / 100) %></h4></p>

                        <% }else{ %>
                            <h4 class="main_product_price">$<%= product.price %></h4>  
                        <% } %>
                        <p class="in_installments"> en 6x $<%= priceDiscount %> Sin interes </p>
                       <!--  <div class="color_container">
                           
                            <span class="product_color">Color</span>
                        </div>
                        <div class="size_container">
                            
                            <span class="product_size">Talle</span>
                        </div> -->
                        <!-- <div class="select_quantity">
                            <a href=""><i class="fa-solid fa-square-minus"></i></a>
                            <div>
                                <span>Cantidad: </span><input type="text" name="" id="" placeholder="(24 Disponibles)">
                            </div>
                            <a href=""><i class="fa-solid fa-square-plus"></i></a>
                        </div>
                        <div class="payment_container">
                            <p>Medios de pago</p>
                            <div>
                                <span class="payment_methods">Crédito</span>
                                <span class="payment_methods">Débito</span>
                                <span class="payment_methods">Efectivo</span>
                            </div>
                        </div> -->
                        <div class="button_container">
                            <% if (locals.userLogin) { %>
                             <a class="button" href="">Agregar al carrito</a>       
                             <a class="button" href="/products/edit/<%= product.id %>">Editar producto</a>
                            <form action="/products/remove/<%= product.id %>?_method=DELETE" method="POST" >
                                <button class="button" type="submit">Eliminar Producto</button>
                            </form>
                            <% }else{ %>
                                <a class="button" href="/users/login">Comprar ahora</a>
                            <% } %>
                            
                        </div>
                    </section>
                </div>
                <div>
                    <section class="product_technical_details">
                        <div class="specific_detail">
                            <a href="">Descripción del producto</a>
                            <p> <%= product.description %></p>
                        </div>
                        <!-- <div>
                        <a href="">Video</a>
                        <iframe src="" frameborder="0"></iframe>
                    </div> -->
                    </section>
                </div>
            </article>
        </section>
        <section class="conatainer_related_products">
            <h2>Productos relacionados</h2>
            <div class="products_related">
                <div class="item_container_related">
                    <% products.forEach(product => { %>
                        <article class="related_article" style="display: flex; flex-direction:column; flex-wrap: wrap; justify-content:space-between;" >
                           
                                <img style="object-fit: cover; height:65% " src="/images/products/<%= product.images[0].name %> " alt="">
                                <h4 class="product_price"><%= product.price %> </h4>
                                <% if (product.discount > 0) { %>
                                    <p class="in_installments"><%= product.discount %>% OFF</p>
                                <% }else{%>
                                    <p class="in_installments">ÚLTIMO DISPONIBLE!!</p>

                                <% } %>
                                <p class="product_name"><%= product.title %> </p>

                                <a class="button_article">Ver producto</a>
                        </article>
                    <% }) %>
                   
                 
                </div>
            </div>
        </section>
    </main>
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>