<!DOCTYPE html>
<html lang="es">



<%- include("./partials/head", { title : "home" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="productsAll">
        <section >
            <div class="index__box-sectiones">
                <% products.forEach(product => { %>  
                <article class="index__box-article">
                    <a href="/products/detail/<%= product.id %>">
                    <img class="index__image" height="65%" src="/images/products/<%= product.image %>" alt="">
                            
                    <div class="index__box-descripcion">
                        <div class="index__precio-descuento">
                        <p class="index__precio">$<%= toThousand(product.price) %> </p>
                        <p class="index__descuento"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                            <h5 class="index__descripcion"><%= product.name %></h5> 
                    </div>
                </a>
                </article>                    
                <% }) %>    
            </div>
        </section>
    </main>

    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %> 

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>
