<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "register" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main>

        <div class="tittle">
            <h3>REGISTRO</h3>
        </div>

        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="name">NOMBRE:</label>
                    <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>">
                    <span style="color:red;"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                </p>

                <p>
                    <label for="lastname">APELLIDO:</label>
                    <input type="text" name="lastname" id="lastname" value="<%= locals.old && old.lastname ? old.lastname : null %>">
                    <span style="color:red;"><%= locals.errors && errors.lastname ? errors.lastname.msg : null %></span>
                </p>

                <p>
                    <label for="email">EMAIL:</label>
                    <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                    <span style="color:red;"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
                </p>

                <p>
                    <label for="password">CONTRASEÑA:</label>
                    <input type="password" name="password" id="password">
                    <span style="color:red;"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                </p>

                <p>
                    <label for="password2">REINGRESAR CONTRASEÑA:</label>
                    <input type="password" name="password2" id="password2">
                    <span style="color:red;"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                </p>
                <p>
                    <label for="avatar">Cargar Avatar</label>
                    <input type="file" name="avatar" id="avatar" accept="image/*">
                </p>
            
                <p>
                    <input name="bases" class="form-check-input" type="checkbox" value="" id="bases" style="width:30px; height:30px;">
                    <label class="form-check-label form-label ms-2" for="bases">
                        Acepto las bases y condiciones
                    </label>
                    <span style="color:red;"><%= locals.errors && errors.bases ? errors.bases.msg : null %></span>
                </p>

            </div>

            <div class="button">
            <button type="submit" class="button_action">REGISTRATE</button>
            <a class="enlace1" href="/login">Ya tenés cuenta? Click acá</a>
            </div>

        </form>
    </main>

    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>