<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "register" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="register">
        <section class="container-register">
            <h2 class="title">Únete hoy</h2>
            <p class="slogan-register">Empieza tu camino </p>
            <div class="register-accounts">
                <button href="#" class="btn-log-facebook btn">Registrate con Facebook</button>
                <button href="#" class="btn-log-google btn">Registrate con Google</button>
            </div>
            <form class="container-form" action="" method="post" enctype="multipart/form-data">
                <div class="container-date">
                    
                        <input class="input-log" type="text" class="input-style" name="name" placeholder="Ingresa tu Nombre" value="<%= locals.old && old.name ? old.name : null %>">
                        <span style="color:red;"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                        <input class="input-log" type="text" class="input-style" name="lastName" placeholder="Ingresa tu Apellido" value="<%= locals.old && old.lastName ? old.lastName : null %>">
                        <span style="color:red;"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>
                        <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingresa tu Email" value="<%= locals.old && old.email ? old.email : null %>">
                        <span style="color:red;"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
                        <input class="input-log" type="password" class="input-style" name="password" placeholder="Crea tu contraseña">
                        <span style="color:red;"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                        <input class="input-log" type="password" name="password2" placeholder="Reingresa tu contraseña">
                        <span style="color:red;"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                        <div class="input-log">
                            <label for="avatar">Cargar Avatar</label>
                            <input type="file" name="avatar" id="avatar" accept="image/*">
                        </div>
                    
                </div>
                <p class="conditions"><input type="checkbox" name="bases" id="bases" value="">Aceptar <a href= "#"> <span> Términos y Condiciones</span> </a> </p>
                        <span style="color:red;"><%= locals.errors && errors.bases ? errors.bases.msg : null %></span>
                <button type="submit" class="btn btn-log">Registrarse</button>


                <p class="account-exists">¿Ya tenes cuenta? <a class="log-in" href="login">Inicia sesión aquí</a></p>
    
            </form>
        </section>
    </main>

    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>