<!DOCTYPE html>
<html lang="es">

    <link rel="stylesheet" href="/stylesheets/results.css" />

<%- include("./partials/head", { title : "Resultado Busqueda" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <div class="container" id="container">

    <main class="productsAll">
        <h2>Resultados de la búsqueda: <%= keyword %></h2>

        <% if (results.length > 0) { %>
        <% results.forEach(({id,title,description,price,discount,images}) => { %>
            <article class="index__box-article">
                <a href="/products/detail/<%= id %>">
                    <% images.forEach(image => { %>
                        <img class="index__image" height="65%" src="/images/products/<%= image.name %>" alt="">
                  <% }) %>                            
                <div class="index__box-descripcion">
                    <div class="index__precio-descuento">
                    <p class="index__precio">$<%= toThousand(price) %> </p>
                    <p class="index__descuento"><%= discount %>% OFF</p>
                    </div>
                    <p class="index__envio">Envio gratis <i class="fas fa-bolt"></i></p>
                        <h5 class="index__descripcion"><%= title %></h5> 
                </div>
            </a>
            </article>
         
        <% }) %>
        <% }else{ %>
            <div class="col-12">
                <h2  style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
            </div>
        <% } %>
                 
    </main>

    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %> 

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>
