<%- include("../partials/head", { title : "Editar Producto" }) %>

    <body>

        <%- include("../partials/header") %>

            <main class="productAdd">
                <form class="register_form" id="container-form" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h3>Editar producto</h3>
                    <div class="user_data">


                        <div>
                            <label for="title" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="text" class="input-style" placeholder="Nombre del producto"
                            class="form-input form-control <%= locals.errors && errors.title ? 'is-invalid' : null %> " 
                            value="<%= product.title %>"
                            id="title"  name="title" title="El nombre debe tener más de 15 caracteres"/>
                            <small id="errorNombre" style="color:red;" class="text-danger"><%= locals.errors && errors.title ? errors.title.msg : null %> </small>
                          </div>



                          <div>
                            <label for="description" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="text" class="input-style" placeholder="Descripción del producto"
                            class="form-input form-control <%= locals.errors && errors.description ? 'is-invalid' : null %> " 
                            value="<%= product.description %>"
                            id="description"  name="description" title="El nombre debe tener más de 30 caracteres"/>
                            <small id="errorDescripción" style="color:red;" class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %> </small>
                          </div>




                          
                          <div>
                            <label for="price" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="number" class="input-style" placeholder="Precio del producto"
                            class="form-input form-control <%= locals.errors && errors.price ? 'is-invalid' : null %> " 
                            value="<%= product.price %>"
                            id="price"  name="price" title="El precio debe ser mayor a $0"/>
                            <small id="errorPrecio" style="color:red;" class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %> </small>
                          </div>



                          <div>
                            <label for="discount" value="" placeholder="Descuento del producto"class="form-label" ></label>
                            <input  type="number" class="input-style" placeholder="Descuento del producto"
                            class="form-input form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %> " 
                            value="<%= product.discount %>"
                            id="discount"  name="discount" title="El descuento debe ser mayor a 0%"/>
                            <small id="errorDescuento" style="color:red;" class="text-danger"><%= locals.errors && errors.discount ? errors.discount.msg : null %> </small>
                          </div>


                      
                    
                    <div class="box_tittle">
                        <h4 class="tittle_categories">Categoria</h4>
                    </div>
                    <div>
                        <select name="categoryId" class="input-style">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% categories.forEach(category => { %>
								<option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
							<% }) %>
                        </select>
                    </div>

                    <div class="box_tittle">
                        <h4 class="tittle_categories">Deportista</h4>
                    </div>

                    <div>
                        <select name="athleteId" class="input-style" style="margin-right: 220px;">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% athletes.forEach(athlete => { %>
								<option value="<%= athlete.id %>" <%= product.athleteId  === athlete.id ? 'selected' : null %>><%= athlete.lastName %> </option>
							<% }) %>
                        </select>
                    </div>
                    

                    <!-- Recorre todas las imagenes, en este caso mo tengo inconveniente porque solo tengo una imagen. Y CON MUCHAS IMAGENES??? -->
                   

                        <div class="box_tittle">
                            <h4 class="tittle_categories">Reemplazar imágenes</h4>
                        </div>
                        <input class="get_img" name="images" type="file" accept="image/*" multiple>

                        <div style="display: flex; gap: 10px;">
                            <% product.images.forEach(image => { %>
                               
                                    <img width="100px" height="100px" src="/images/products/<%= image.name %>" alt="img">
                            <% }) %>
                                </div>
        
                    <div class="buttons">
                        <button type="submit" class="box_button button_get" >Guardar producto</button>
                        <input class="button_get" type="reset" value="Reset">
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
                <!-- <script src="/javascript/productEdit.js"></script> -->
    </body>

    </html>