<%- include("../partials/head", { title : "Agregar Producto" }) %>
<link rel="stylesheet" href="/stylesheets/app.css" />
    <body>
        
        <%- include("../partials/header") %>
        
        <div class="container" id="container">
<br>

            <main class="productAdd">
                <form  action="" method="POST" id="container-form" enctype="multipart/form-data" class="register_form">
                    <h3>Agregar producto</h3>
                    <div class="user_data">


                        <div>
                            <label for="title" value="" placeholder="Nombre del producto"class="form-label" >Titulo</label>
                            <input  type="text" class="input-style" placeholder="Nombre del producto"
                            class="form-input form-control <%= locals.errors && errors.title ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.title? old.title : null %>"
                            id="title"  name="title" title="El nombre debe tener más de 15 caracteres"/>
                            <small id="errorNombre" style="color:red;" class="text-danger"><%= locals.errors && errors.title ? errors.title.msg : null %> </small>
                          </div>


                          <div>
                            <label for="description" value="" placeholder="Nombre del producto"class="form-label" >Descripción</label>
                            <input  type="text" class="input-style" placeholder="Descripción del producto"
                            class="form-input form-control <%= locals.errors && errors.description ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.description? old.description : null %>"
                            id="description"  name="description" title="El nombre debe tener más de 30 caracteres"/>
                            <small id="errorDescripción" style="color:red;" class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %> </small>
                          </div>



                          <div>
                            <label for="price" value="" placeholder="Nombre del producto"class="form-label" >Precio</label>
                            <input  type="number" class="input-style" placeholder="Precio del producto"
                            class="form-input form-control <%= locals.errors && errors.price ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.price? old.price : null %>"
                            id="price"  name="price" title="El precio debe ser mayor a $0"/>
                            <small id="errorPrecio" style="color:red;" class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %> </small>
                          </div>



                          <div>
                            <label for="discount" value="" placeholder="Descuento del producto"class="form-label" >Descuento</label>
                            <input  type="number" class="input-style" placeholder="Descuento del producto"
                            class="form-input form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.discount? old.discount : null %>"
                            id="discount"  name="discount" title="El descuento debe ser mayor a 0%"/>
                            <small id="errorDescuento" style="color:red;" class="text-danger"><%= locals.errors && errors.discount ? errors.discount.msg : null %> </small>
                          </div>


                        
                    </div>
                    <!-- <a class="box_img" href="#">Subir imagen<input class="get_img" type="file"></a> -->
                    <div class="box_tittle">
                        <h4 class="tittle_categories">Categoria</h4>
                    </div>

                    <% if (locals.old && old.categoryId) { %>
                        
                        <div class="select_check">
                            <select name="categoryId">
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>" <%= +old.categoryId === category.id ? "selected" : null %>><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        
                    <% }else{ %>

                        <div class="select_check">
                            <select name="categoryId">
                                <option value="" hidden selected>Selecciona uno..</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <small id="errorDescuento" style="color:red;" class="text-danger"><%= locals.errors && errors.categoryId ? errors.categoryId.msg : null %> </small>

                    <% } %>


                    <div class="box_tittle">
                        <h4 class="tittle_categories">Deportista</h4>
                    </div>

                    <% if (locals.old && old.athleteId) { %>
                        
                        <div class="select_check">
                            <select name="athleteId">
                                <% athletes.forEach(athlete => { %>
                                    <option value="<%= athlete.id %>" <%= +old.athleteId === athlete.id ? "selected" : null %>><%= athlete.lastName %></option>
                                <% }) %>
                            </select>
                        </div>

                    <% }else{ %>

                        <div class="select_check">
                            <select name="athleteId">
                                <option value="" hidden selected>Selecciona uno..</option>
                                <% athletes.forEach(athlete => { %>
                                    <option value="<%= athlete.id %>"><%= athlete.lastName %></option>
                                <% }) %>
                            </select>
                        </div>
                        
                        <small id="errorDescuento" style="color:red;" class="text-danger"><%= locals.errors && errors.athleteId ? errors.athleteId.msg : null %> </small>

                    <% } %>

                    <label for="image" class="box_img">Agregar imagen:</label>
					<input type="file" id="image" name="images" class="get_img" accept="image/*" >
                    
                    <div class="buttons">
                        <input class="button_get" type="submit" value="Crear Producto">
                        <input class="button_get" type="reset" value="Reset">
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
                <script src="/javascript/productAdd.js"></script>
                <script src="/javascript/index.js"></script>
    </body>

    </html>