<%- include("../partials/head", { title : "Editar Producto" }) %>

    <body>

        <%- include("../partials/header") %>

            <main class="productAdd">
                <form class="register_form" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h3>Editar producto</h3>
                    <div class="user_data">


                        <div>
                            <label for="title" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="text" class="input-style" placeholder="Nombre del producto"
                            class="form-input form-control <%= locals.errors && errors.title ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.title? old.title : null %>"
                            id="title"  name="title" title="El nombre debe tener m치s de 15 caracteres"/>
                            <small id="errorNombre" style="color:red;" class="text-danger"><%= locals.errors && errors.title ? errors.title.msg : null %> </small>
                          </div>



                          <div>
                            <label for="description" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="text" class="input-style" placeholder="Descripci칩n del producto"
                            class="form-input form-control <%= locals.errors && errors.description ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.description? old.description : null %>"
                            id="description"  name="description" title="El nombre debe tener m치s de 30 caracteres"/>
                            <small id="errorDescripci칩n" style="color:red;" class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %> </small>
                          </div>




                          
                          <div>
                            <label for="price" value="" placeholder="Nombre del producto"class="form-label" ></label>
                            <input  type="number" class="input-style" placeholder="Precio del producto"
                            class="form-input form-control <%= locals.errors && errors.price ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.price? old.price : null %>"
                            id="price"  name="price" title="El precio debe ser mayor a $0"/>
                            <small id="errorPrecio" style="color:red;" class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %> </small>
                          </div>



                          <div>
                            <label for="discount" value="" placeholder="Descuento del producto"class="form-label" ></label>
                            <input  type="number" class="input-style" placeholder="Descuento del producto"
                            class="form-input form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %> " 
                            value="<%= locals.old && old.discount? old.discount : null %>"
                            id="discount"  name="discount" title="El descuento debe ser mayor a 0%"/>
                            <small id="errorDescuento" style="color:red;" class="text-danger"><%= locals.errors && errors.discount ? errors.discount.msg : null %> </small>
                          </div>


                      
                    
                    <div class="box_tittle">
                        <h4 class="tittle_categories">Categoria</h4>
                    </div>
                    <div class="select_check">
                        <select name="categoryId">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% categories.forEach(category => { %>
								<option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
							<% }) %>
                        </select>
                    </div>

                    <div class="box_tittle">
                        <h4 class="tittle_categories">Deportista</h4>
                    </div>

                    <div class="select_check">
                        <select name="athleteId">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% athletes.forEach(athlete => { %>
								<option value="<%= athlete.id %>" <%= product.athleteId  === athlete.id ? 'selected' : null %>><%= athlete.lastName %> </option>
							<% }) %>
                        </select>
                    </div>
                    
                    <img src="/images/products/<%= product.images[0].name %>" alt="">

                    <!-- Recorre todas las imagenes, en este caso mo tengo inconveniente porque solo tengo una imagen. Y CON MUCHAS IMAGENES??? -->
                   <!--  <% product.images.forEach(image => { %>
                        <div >
                            <img width="100px" height="200px" src="/images/products/<%= image.name %>" alt="img">
                        </div>
                    <% }) %> -->
                    

                    <a class="box_img" href="#">Subir imagen<input class="get_img" name="images" type="file" accept="image/*"></a>
                    <div class="buttons">
                        <button type="submit" class="box_button button_get" >Guardar producto</button>
                        <input class="button_get" type="reset" value="Reset">
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
                <script src="/javascript/productEdit.js"></script>
    </body>

    </html>