<%- include("../partials/head", { title : "Editar Producto" }) %>

    <body>

        <%- include("../partials/header") %>

            <main class="productAdd">
                <form class="register_form" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h3>Editar producto</h3>
                    <div class="user_data">
                        <input class="get_log" type="text" id="title" name="title" value="<%= product.title %>">
                        <input class="get_log" type="text" id="description" name="description" value="<%= product.description %>">           
                    </div>
                                      
                    <div class="password">
                        <input class="get_log" type="number" name="price" id="price" value="<%= product.price %>">
                        <input class="get_log" type="number" name="discount" id="discount" value="<%= product.discount %>">
                    </div>
                    
                    <div class="box_tittle">
                        <h4 class="tittle_categories">Categoria</h4>
                    </div>
                    <div class="select_check">
                        <select name="categoryId">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% categories.forEach(category => { %>
								<option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
							<% }) %>
                        </select>
                    </div>

                    <div class="box_tittle">
                        <h4 class="tittle_categories">Deportista</h4>
                    </div>

                    <div class="select_check">
                        <select name="athleteId">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <% athletes.forEach(athlete => { %>
								<option value="<%= athlete.id %>" <%= product.athleteId  === athlete.id ? 'selected' : null %>><%= athlete.lastName %> </option>
							<% }) %>
                        </select>
                    </div>
                    
                    <img src="/images/products/<%= product.images[0].name %>" alt="">

                    <!-- Recorre todas las imagenes, en este caso mo tengo inconveniente porque solo tengo una imagen. Y CON MUCHAS IMAGENES??? -->
                   <!--  <% product.images.forEach(image => { %>
                        <div >
                            <img width="100px" height="200px" src="/images/products/<%= image.name %>" alt="img">
                        </div>
                    <% }) %> -->
                    

                    <a class="box_img" href="#">Subir imagen<input class="get_img" name="images" type="file" accept="image/*"></a>
                    <div class="buttons">
                        <button type="submit" class="box_button button_get" >Guardar producto</button>
                        <input class="button_get" type="reset" value="Reset">
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
    </body>

    </html>