<%- include("../partials/head", { title : "Editar Producto" }) %>

    <body>

        <%- include("../partials/header") %>

            <main class="productAdd">
                <form class="register_form" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h3>Editar producto</h3>
                    <div class="user_data">
                        <input class="get_log" type="text" id="name" name="name" value="<%= product.name %>">
                        <input class="get_log" type="text" id="description" name="description" value="<%= product.description %>">           
                    </div>
                                      
                    <div class="password">
                        <input class="get_log" type="number" name="price" id="price" value="<%= product.price %>">
                        <input class="get_log" type="number" name="discount" id="discount" value="<%= product.discount %>">
                    </div>
                    
                    <div class="box_tittle">
                        <h4 class="tittle_categories">Tipo de deporte</h4>
                    </div>
                    <div class="select_check">
                        <select name="sport">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <option value="Futbol nacional">Futbol Nacional</option>
                            <option value="Futbol-internacional">Futbol Internacional</option>
                            <option value="Tenis">Tenis</option>
                            <option value="Basket">Basket</option>
                            <option value="Rugby">Rugby</option>
                            <option value="Boxeo">Boxeo</option>
                        </select>
                    </div>

                    <div class="box_tittle">
                        <h4 class="tittle_categories">Categorias</h4>
                    </div>
                    <div class="select_check">
                        <select name="category">
                            <option value="" hidden selected>Selecciona uno..</option>
                            <option value="destacados">Producto destacado</option>
                            <option value="ofertas">Producto en oferta</option>   
                            
                        </select>
                    </div>

                    <div >
                        <img width="100px" height="200px" src="/images/products/<%= product.image %>" alt="">
                    </div>

                    <a class="box_img" href="#">Subir imagen<input class="get_img" name="image" type="file" accept="image/*"></a>
                    <div class="buttons">
                        <button type="submit" class="box_button button_get" >Guardar producto</button>
                        <input class="button_get" type="reset" value="Reset">
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
    </body>

    </html>